.BattleScreen {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .versusContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    .item {
      position: relative;
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        position: absolute;
        top: 0;
        margin: 0;
        color: green;
      }
      p {
        margin-bottom: 0;
      }
    }

    .versusImg {
      max-width: 150px;
      max-height: 150px;
      align-self: center;
    }
  }
}
